{% extends 'blog/base.html' %}


{% block content %}
    {% load static %}
    <div id="app">
        <div class="sign" v-if="isSignIn">
            <div class="sign-header container">
                <div class="py-3">
                    <h1>
                        과제가<br />
                        <span v-html="assignments.length"></span>개나 있네...
                    </h1>
                </div>
            </div>
            <div class="container sign-container">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="progress-header">
                            <h2 class="progress-title">진행률</h2>
                            <div class="progress-value">
                                <span class="prt" v-bind:class="progressStatus"><span v-html="progressPrt">0</span>%</span>
                                (
                                    <span v-html="complateAssignments.length">0</span>/<span v-html="assignments.length">0</span>
                                )
                            </div>
                        </div>
                        <div class="progress">
                            <div class="progress-wrap">
                                <div
                                    class="progress-bar"
                                    v-bind:style="{ width: progressPrt + '%' }"
                                    v-bind:class="progressStatus"
                                ></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div v-for="assignment in assignments" class="mb-3">
                        <div class="card assignment">
                            <div class="card-header">
                                <p>
                                    <span v-html="assignment.calendarNameLocalizable.rawValue"></span>
                                </p>
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <div
                                        class="line"
                                        v-bind:style="{ background: assignment.color }"
                                    ></div>
                                    <p class="title" v-html="assignment.title"></p>
                                    <footer class="blockquote-footer">
                                        <span v-html="assignment.endDateFormat"></span> <span>까지</span>
                                    </footer>
                                </blockquote>
                                <div class="status">
                                    <span class="badge badge-primary" v-html="assignment.badge">Primary</span>
                                    <span class="badge badge-danger" v-if="assignment.noAttempt">제출안됨</span>
                                    <span class="badge badge-success" v-if="!assignment.noAttempt">제출됨</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dev-info pb-3">
                    <a href="https://github.com/dawan0111/blackboard-alarm" target="_blank"><img src="{% static 'images/github.png' %}" alt="github" width="32"></a>
                </div>
            </div>
        </div>
        <div class="container"  v-else>
            <div class="no-sign py-4">
                <div class="text-center mb-4">
                    <div class="logo">
                        <img src="{% static 'images/icon-512x512.png' %}" alt="아이콘" class="img-fluid">
                    </div> 
                    <h2>BlackBoard 과제현황</h2>
                    <div>blackboard 과제 현황을 한눈에 볼 수 있는 페이지 입니다. 로그인 후 이용하실 수 있습니다.</div>
                </div>
                <button class="btn btn-primary btn-block" onclick="location.href='/login'">로그인</button>
            </div>
        </div>

        <div v-if="loading">
            <div class="loading-modal">
                <div class="loading">
                    <object type="image/svg+xml" data="{% static 'images/loading.svg' %}">Loading</object>
                    <div class="loading-text">
                        <span>L</span>
                        <span>o</span>
                        <span>a</span>
                        <span>d</span>
                        <span>i</span>
                        <span>n</span>
                        <span>g</span>
                        <span>.</span>
                        <span>.</span>
                        <span>.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {% load static %}
    <script type="text/javascript" src="{% static 'main.js?v=1112' %}"></script>
{% endblock %}