@font-face {
    font-family: JUA;
    src:  url(./fonts/BMJUA_ttf.ttf),
        url(./fonts/BMJUA_otf.otf);
    font-weight: bold;
}

@keyframes upDown {
    0% {
        top: 0;
    }
    10% {
        top: -5px;
    }
    20% {
        top: 0;
    }
}

.sign {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background: url('./images/background.jpg') center center / cover;
}

.sign > div {
    max-width: 800px;
    margin: 0 auto;
}

/*
    background: #12c2e9;  /* fallback for old browsers 
    background: -webkit-linear-gradient(to top, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to top, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
*/

.sign-header {
    /*border-radius: 5vw; */
    color: #fff;
}
.sign-container {
    border-top-left-radius: 10vmin;
    border-top-right-radius: 10vmin;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: saturate(180%) blur(20px);
    padding-top: 6vmin;
    flex: 1;
}

.loading-modal {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .5);
    font-size: 0;
}

.loading-modal .loading {
    width: 60%;
    max-width: 300px;
}
.loading-modal .loading object {
    width: 100%;
}
.loading-modal .loading-text {
    margin-top: 20px;
    text-align: center;
}
.loading-modal .loading-text span {
    position: relative;
    font-family: 'JUA';
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    animation: upDown 2s ease infinite;
}

.loading-modal .loading-text span:nth-child(2) {
    animation-delay: .1s;
}
.loading-modal .loading-text span:nth-child(3) {
    animation-delay: .3s;
}
.loading-modal .loading-text span:nth-child(4) {
    animation-delay: .5s;
}
.loading-modal .loading-text span:nth-child(5) {
    animation-delay: .7s;
}
.loading-modal .loading-text span:nth-child(6) {
    animation-delay: .9s;
}
.loading-modal .loading-text span:nth-child(7) {
    animation-delay: 1.1s;
}
.loading-modal .loading-text span:nth-child(8) {
    animation-delay: 1.3s;
}
.loading-modal .loading-text span:nth-child(9) {
    animation-delay: 1.5s;
}
.loading-modal .loading-text span:nth-child(10) {
    animation-delay: 1.7s;
}

.loading-modal .loading-text span + span {
    margin-left: .3vw;
}

.no-sign {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}
.no-sign .logo {
    margin-bottom: 2rem;
}

.card {
    border: none;
    border-radius: 1.00rem;
}
.card-header {
    background: none;
    border-bottom: none;
    padding-bottom: 0;
}
.card-header p {
    margin-bottom: 0;
}
.card-body {
}
.card-body .blockquote.mb-0 {
    position: relative;
    /*padding: 0 1.25rem; */
}
.card-body .blockquote.mb-0 .line {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 3px;
    height: 100%;
    content: '';
    filter: brightness(2);
}
.card-body .blockquote.mb-0 .title {
    font-size: 1.2rem;
    margin-bottom: .4rem;
}
.card-body .blockquote.mb-0 .blockquote-footer {
    font-size: .8rem;
}

.assignment .status {
    margin-top: 1.25rem;
}


.badge {
    border-radius: 30rem;
}
.badge-success {
    background-color: #4bd764;
}

.badge-danger {
    background-color: #ff2502;
}

.progress {
    position: relative;
    border-radius: 500px;
    height: .75rem;
    padding: 0.15rem 0.2rem;
}
.progress-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
.progress-header {
    display: flex;
    justify-content: space-between;
}
.progress-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.progress-value {
    font-weight: bold;
    font-size: 1rem;
}
.progress-value span.prt {
    color: #ff2502;
    font-size: 1.25rem;
    transition: 500ms ease;
}
.progress-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    border-radius: 500px;
    background: #ff2502;
    transition: 500ms ease;
}

.progress-value span.prt.danger {
    color: #ff2502;
}
.progress-value span.prt.warning {
    color: #f9a602;
}
.progress-value span.prt.success {
    color: #4bd764;
}

.progress-bar.danger {
    background: #ff2502;
}
.progress-bar.warning {
    background: #f9a602;
}
.progress-bar.success {
    background: #4bd764;
}